<nav>
    <h1>Transfer Market</h1>
    <div class="nav">

            <% for (let i = 0; i < links.length; i++) {%>
                <p>
                    <a href="<%= links[i].href %>" <%= links[i].href === currentLink ? 'class="current"' : '' %>><%= links[i].text %></a>
                    <span> </span>
                </p>
                <% } %>
    </div>
</nav>