@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: inter;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    gap: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    transition: 0.2s all;
}

.nav a:hover, .nav a.current {
    transform: translateY(-2px);
    /* transform: scale(1.2); */
    color: red;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    gap: 10px;
    background-color: rgb(232, 232, 233);
}

.title {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #333;
}

tr:hover {
    background-color: #f9f9f9;
}

tbody tr:last-child td {
    border-bottom: none;
}